@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk&display=swap');
/* Green Light scheme (Default) */
/* Can be forced with data-theme="light" */
[data-theme='light'],
:root:not([data-theme='dark']) {
  --primary: #43a047;
  --primary-hover: #388e3c;
  --primary-focus: rgba(67, 160, 71, 0.125);
  --primary-inverse: #fff;
}
/* Green Dark scheme (Auto) */
/* Automatically enabled if user has Dark mode enabled */
@media only screen and (prefers-color-scheme: dark) {
  :root:not([data-theme]) {
    --primary: #43a047;
    --primary-hover: #4caf50;
    --primary-focus: rgba(67, 160, 71, 0.25);
    --primary-inverse: #fff;
  }
}
/* Green Dark scheme (Forced) */
/* Enabled if forced with data-theme="dark" */
[data-theme='dark'] {
  --primary: #43a047;
  --primary-hover: #4caf50;
  --primary-focus: rgba(67, 160, 71, 0.25);
  --primary-inverse: #fff;
}
/* Green (Common styles) */
:root {
  --form-element-active-border-color: var(--primary);
  --form-element-focus-color: var(--primary-focus);
  --switch-color: var(--primary-inverse);
  --switch-checked-background-color: var(--primary);
}
:root {
  --font-family: 'Space Grotesk', sans-serif;
}
ins {
  color: var(--primary);
}
ul {
  display: flex;
  flex-wrap: wrap;
  gap: 0 1.5rem;
}
ul > li {
  list-style: disc;
}
.themeBtn {
  width: min-content;
  position: fixed;
  bottom: 16px;
  right: 16px;
  padding: 0.5rem;
  background-color: var(--primary-focus);
  border-radius: 0.75rem;
}
